[Desktop Entry]
Version=1.0
Type=Application
Name=TOR tp
Comment=Redirige a TOR tutto il traffico in uscita dal PC in maniera trasparente
Icon=anonymous.ico
Exec=/usr/local/bin/tortp.sh
Path=
Terminal=true
StartupNotify=false
